@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&family=Playfair+Display:wght@700&family=Poppins:ital@1&family=Roboto+Slab:wght@500&family=Staatliches&family=Young+Serif&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: garamond;
  src: url(../public/fonts/AppleGaramond.ttf);
}

@font-face {
  font-family: sfpro;
  src: url(../public/fonts/SFPRODISPLAYBLACKITALIC.OTF);
}

@layer base{
  body{
    @apply bg-background text-primary
  }

  h1{
    @apply text-3xl sm:text-4xl md:text-4xl lg:text-5xl xl:text-6xl text-center lg:text-start font-bannerHeading
  }

  h2{
    @apply text-3xl sm:text-3xl md:text-3xl lg:text-4xl xl:text-5xl text-center lg:text-start font-logo
  }

  p{
    @apply text-xl lg:text-3xl font-logo font-bold
  }
}

::-webkit-scrollbar{
  width: 0.5rem;
}

::-webkit-scrollbar-track{
  background-color: #00091a;
}

::-webkit-scrollbar-thumb{
  background-color: #FFCF0040;
  border-radius: 1rem;
  background-clip: content-box;
}