@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&family=Playfair+Display:wght@700&family=Poppins:ital@1&family=Roboto+Slab:wght@500&family=Staatliches&family=Young+Serif&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: garamond;
  src: url(../public/fonts/Garamond_Regular.ttf);
}

@font-face {
  font-family: staatliches;
  src: url(../public/fonts/Staatliches-Regular.ttf);
}

@font-face {
  font-family: sfpro;
  src: url(../public/fonts/SFPRODISPLAYREGULAR.OTF);
}

@layer base {
  body {
    @apply bg-background text-primary
  }

  h1 {
    @apply text-3xl sm:text-4xl md:text-4xl lg:text-5xl xl:text-5xl text-center lg:text-start font-logo;
  }

  h2 {
    @apply text-3xl sm:text-3xl md:text-3xl lg:text-6xl xl:text-6xl text-center lg:text-start font-normal font-bannerHeading;
  }

  p {
    @apply text-xl lg:text-3xl font-bodyContent font-bold;
  }
}

.productCarousel.carousel-root {
  display: flex;
  flex-direction: row-reverse;
  gap: 15px;
}
.productCarousel.carousel-root .carousel {
  width: auto;
}
.productCarousel.carousel-root .carousel.carousel-slider {
  width: 100%;
}
.productCarousel.carousel-root .carousel.carousel-slider .slider-wrapper {
  border-radius: 10px;
}
.productCarousel.carousel-root .carousel .thumbs-wrapper {
  margin: 0;
}
.productCarousel.carousel-root .carousel .thumb {
  height: 60px;
  border-radius: 6px;
  overflow: hidden;
  position: relative;
}
.productCarousel.carousel-root .carousel .thumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.productCarousel.carousel-root .carousel .thumb:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0;
}
.productCarousel.carousel-root .carousel .thumb.selected,
.productCarousel.carousel-root .carousel .thumb:hover {
  border: 0;
}
.productCarousel.carousel-root .carousel .thumb:hover:after,
.productCarousel.carousel-root .carousel .thumb.selected:after {
  opacity: 0.2;
}
.productCarousel .control-arrow {
  display: none;
}
@media screen and (max-width: 767px) {
  .productCarousel.carousel-root {
    flex-direction: column;
  }
  .productCarousel.carousel-root .carousel .thumb {
    border: 0;
    padding: 0;
  }
}
@media screen and (min-width: 768px) {
  .productCarousel.carousel-root .carousel .thumbs {
    transform: none !important;
    flex-direction: column;
    display: flex;
    gap: 10px;
  }
  .productCarousel.carousel-root .carousel .thumb {
    border: 0;
    padding: 0;
    margin: 0;
  }
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background-color: #00091a;
}

::-webkit-scrollbar-thumb {
  background-color: #ffcf0040;
  border-radius: 1rem;
  background-clip: content-box;
}
